:root {
    font-family: Arial, Helvetica, sans-serif;
    color: #12274e;
}

.container {
    max-width: min(90vw, 900px);
    margin: auto;
}

#hero {
    background-image: url(hero-bg.png);
    width: 100%;
    height: 300px;
    border-radius: 7px;
    background-size: contain;
}

#hero, #try-it {
    margin-bottom: 50px;
}

#hero-text {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(#e3f8ffff, #e3f8ffdd, #e3f8ff00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-text h1 {
    margin-bottom: 45px;
}

#hero-text-inner {
    width: fit-content;
    height: fit-content;
    margin-bottom: 35px;
    /* color: #fff !important; */
}

#btn-try-me {
    background-color: rgb(250, 182, 35);
    color: #12274e;
    font-weight: bold;
    border-radius: 7px;
    font-size: 14pt;
    padding: 8px 25px;
    border: 3px solid rgb(250, 182, 35);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btn-try-me:hover {
    /* color: rgb(250, 182, 35); */
    color: #12274e;
    background-color: #fff;
    border: 3px solid rgb(250, 182, 35);
}

h2 {
    position: relative;
    width: fit-content;
}

h2::after {
    /* width: 100%; */
    width: 40px;
    height: 4px;
    content: '';
    background-color:rgb(250, 182, 35);
    position: absolute;
    bottom: -6px;
    left: 0;

}

#three-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-between;
    gap: 25px;
    margin-bottom: 50px;
}

#three-grid div {
    width: 30%;
    height: fit-content;
    background-color: #e3f8ff;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
}


#alert-container {
    width: min(80vw, 800px);
    /* height: 35px; */
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 12pt;
    padding: 15px 25px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: -50px;
    transition: bottom 1s ease-in;
    border-radius: 7px;
    
    /* center it horizontally */
    left: 50%;
    transform: translate(-50%, 0);
}

#alert-container.show {
    bottom: 20px;
    transition: bottom 1s ease-out;
}

input[type='text'] {
    border: 3px solid #aaa;
    border-radius: 7px;
    padding: 8px 15px;
    font-size: 12pt;
}

#try-it-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#try-it-form input {
    flex-grow: 1;
}

input[type='text']:focus,input[type='text']:active {
    border: 3px solid dodgerblue;
    outline: none;
}

button {
    background-color: rgb(250, 182, 35);
    color: #12274e;
    font-weight: bold;
    border-radius: 7px;
    font-size: 12pt;
    padding: 8px 25px;
    border: 3px solid rgb(250, 182, 35);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #fff;
    color: #12274e;
}